// Styles for all of the user pages:
// Login, Signup, Support

page-user {
  .logo {
    padding: 20px 0;
    min-height: 200px;
    text-align: center;

       
  }
      .item-md{
        background: transparent !important;
        color:white;
        font-weight: bold;
      }

  .list {
   margin-top: 30%;
        background: transparent;
  }
  .login-content{
  width: 100%;
  height: auto;
 
  background-repeat: no-repeat;
  background-size: 100% 100%;
      background: transparent;
}
/*.label{
 // color:yellow  !important;
}*/
.button{
  text-align: center;

}
.button{
      margin: 20% 80% 5% 35%;
      width:30%;
      height:30%;
      padding: 1.1em !important;
      height: 1.6rem;
      
}
.login-nav{
  color:white;
  margin-left: 35% !important;
  
}
.icon{
  margin-left: 20%;
  margin-right: -5%;
  margin-top:5%;
  font-size: 250% !important;
  color:white;
}
.Signlab{
  margin-left:40% !important;
  margin-top: 10%;
  color:honeydew !important;
  font-weight: bold;
}
  

.backgroundImage{
  background-image: url( '../assets/img/wood-nature-walking-dark-large.jpg') ;
  background-repeat: no-repeat;
  background-size: cover;
 max-width: 100% !important;
 max-height: 100% !important ;



}
}